<!-- PRIMARY AUTHOR: Mikael Mengistu -->

<!DOCTYPE html>
<html>
    <head>
        <title><%= title  %></title>
        <%- include partials/header.ejs %>
        <%- include partials/events_header.ejs %>
        <script src='/javascripts/index_controllers.js'></script>
        <script src='/javascripts/signup.js'></script>
    </head>
    <body>        
        <%- include partials/navbar.ejs %>
        <br><br>
        <center>
            <div>Forgot password? Have it sent to the email associated with your account!</div>
            <form name="sendPassword" action="/api/users/sendPassword" method="post">
                <div>MIT Email: <input type="text"  name="email"></div>
                <input type="submit"  class="btn btn-default navbar-btn" value = "Send Password" onsubmit="return resetPasswordEmailCheck()">
            </form>
        </center>
        
    </body>
</html>