/*Main container for the view*/
.groups-container{
	/*display: inline-block;*/
}

/*Left subcontainer*/
.group_links{
	/*display: inline-block;*/
}

.groups-letter-div{

}

.groups-header-name{
	background-color: grey;
	margin-bottom: 2px;
	text-align: center;
	height: 25px;
	color: white;
}

/*Each group entry*/
.group-item{
	background-color: lightgray;
	margin-bottom: 2px;
	text-align: center;
	border-radius: 2px;
}

.group-item a{
	color: #993333;
}

.group-item a:hover{
	color: white;
}

/*Right subcontainer*/
.groups-manager{
	text-align: center;
}

.groups-manager-name {
	font-weight: bold;
	font-size: 15px;
	text-decoration: underline;
}

.groups-manager-table{
	height: 150px;
	background-color: lightgray;
	margin-bottom: 10px;
	overflow: auto;
	border-radius: 4px;
}

/*My Admin groups*/
#groups_admin{

}

/*My Followed Groups*/
#groups_followed{

}

/*My Pending Registrations*/
#groups_pending{

}

/*Register Button style*/
.groups-register-btn{

}

.register-model-header{

}

.register-model-footer{
	/*background-color: grey;*/
}

.register-modal-body{
	text-align: center;
}

/***********Styling for the Group page*******/
.group-header{
	width: 100%;
	background-color: rgb(245,245,245);
	padding: 15px;
	border-radius: 3px;
	position: relative;
}

.group-header h1{
	display: inline-block;
	margin-right: 10px;
}

.group-header a{
	vertical-align: center;
}

.create-event{
	position: absolute;
	right: 15px;
	bottom: 20px;
}

.group-body{
	width: 100%;
	padding-left: 20px;1	
}
/* Left side of the page*/
.group-left-pane{
	margin-top: 10px;
	border-radius: 3px;
	background-color: hsla(0, 50%, 40%, 1);
	color: white;
	padding: 10px;
	min-height: 300px;
}

.group-left-pane legend{
	margin-bottom: 10px;
}

/*Manage admin classes*/
.group-manage{
	text-align:center;
	margin-bottom: 10px;
}

.manage-admin-btn{
	margin: 0 auto;
}

.manage-admin-controls{
	background-color: rgba(0,0,0,0.5);
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 3px;
}

.nav a{
	color: white;
}

.nav a:hover{
	color: hsla(0, 50%, 40%, 1);
}

.remove-admin-glyph:hover{
	cursor: pointer;
	color: hsla(0, 50%, 40%, 1);
}

/*Description div classes*/
.group-description{

}

.group-description-label{
	text-align: center;
	position: relative;
}

.group-description-text{
	max-width: 100%;
	overflow: auto;
}
/*Edit description div classes*/
.edit-group-description{
	position: absolute;
	right: 0px;
}

.edit-group-description:hover{
	cursor: pointer;
	color: lightgrey;
}

#editingDescription{
	color: black;
	max-width: 100%;
	min-height: 150px;
	margin-bottom: 10px;
}

/*Bottom Delete Div*/
.group-delete-container{
	margin-top: 10px;
	text-align:center;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 3px;
}

.group-delete-btn{

}

.group-delete-btn:hover{
	color: white;
	background-color: #c9302c;
}

/* Right side of the page*/
.group-right-pane{

}